body, *:not([class^="tabulator"]:not(.modal-content))
{
    font-size: 0.9rem;
    font-family: 'Roboto';
}

body, .titulo
{
    font-size: 1.5rem;
    font-family: 'Roboto';
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(Asset/Icons/MaterialIcons/font/MaterialIcons-Regular.eot); /* For IE6-8 */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.row {
    
    margin-bottom: 10px;
    
}


/*
    COL SMALL
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/


.col .content-responsive-button
{
    padding: 5px 3px 5px 0;
    text-align: right;
    font-weight: 700;
    float: right;
}


.respButton 
{
    height: 2rem;
    }



/*
    COL MEDIUM
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/
@media only screen and (min-width: 601px)
{
 
    .col .content-responsive-button
    {
        padding: 5px 3px 5px 0;
        text-align: left;
        font-weight: 700;
    }
}


/*
    COL LARGE
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/
@media only screen and (min-width: 993px)
{
  
    .col .content-responsive-button
    {
        padding: 5px 3px 5px 0;
        text-align: center;
        font-weight: 700;
    }
}




/*
    PERSONALIZADOS - OTROS
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/



/*Contents Personalizado*/

.content-right
{
    padding: 5px 3px 5px 0;
    text-align: right;
    font-weight: 700;
    float: right;
}

.content-center
{
    padding: 5px 3px 5px 0;
    text-align: center;
    font-weight: 700;
}

.content-left
{
    padding: 5px 3px 5px 0;
    text-align: left;
    font-weight: 700;
}

.row .col .content-label
{
    text-align: right;
    padding-top: 4px;
    font-weight: bold;
}

.no-spaces
{
    height: auto;
}

.linea-button 
{
    height: auto;
    padding-top: 10px !Important;
}
.col .linea-button 
{
    height: auto;
}


/*Nombre Empresa*/
#lblNombreEmpresa 
{
    font-size: 22px;    
}
/*Menu*/
#NavigationMenu a {
    font-family: 'Roboto';
    /* font-weight: bold; */
    text-decoration: none;
    white-space: nowrap;
    display: block;
    font-size: 0.9rem;
    font-weight: inherit;
}

.level1 .static 
{
    font-size:0.75rem;
}

.popout .level1 .static .highlighted, a
{
    font-size:0.75rem;
}
    
.popout .level2 .static
{
    font-size:0.75rem;
}


/*titulo con barra azul para parametros*/
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    font-weight: normal;
}

/*Redonditos de los controles*/
                   
select, input 
{
    border-radius: 5px;
}

/*modificaciones para el datepicker*/
/*
body, [class^="ui-datepicker"]
{
    font-size: 1rem;
    font-family: 'Roboto';
}
body, .ui-datepicker-calendar thead tr th span, ui-datepicker-month
{
    font-size: 1rem;
    font-family: 'Roboto';
}

body, ui-datepicker-month
{
    font-size: 2rem;
    font-family: 'Roboto';
}

*/


/*
    COL isMobile
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/

@media only screen and (max-device-width: 480px)
{
    

    
    /*Titulo de pagina*/
    .titulo 
    {
        font-size: 2.5rem;    
    }
    
    /*Nombre Empresa*/
    #lblNombreEmpresa 
    {
        font-size: 2rem;    
    }

    .row .col,
    {
        width: 100%;
    }
    
    .ui-widget input
    {
        font-size: 5rem;
    }

    .popout .level1 .static .highlighted, a
    {
        font-size: 30px;
    }
    
    .popout .level2 .static
    {
        font-size: 30px;
    }
    
    
/*
    .ui-autocomplete a
    {
        font-size: 40px;
        width: 100%;
    }

    .ui-autocomplete ui-front
    {
        font-size: 40px;
        width: 100%;
    }
    */
    
/* datepicker */
/*
.ui-datepicker {
    width: 50em;
    padding: .2em .2em 0;
    display: none;
    height: 35em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-size: 3rem;
}

.ui-datepicker-header-calendar table tr th span 
{
     font-size: 3rem;
    }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
    font-size: 3rem;
    background: white;
}
body, .ui-datepicker-calendar thead tr th span, ui-datepicker-month
{
    font-size: 3rem;
    font-family: 'Roboto';
}

body, ui-datepicker-month
{
    font-size: 2rem;
    font-family: 'Roboto';
}
 
             */
/*BOTONES   */
.linea-button 
{
    height: auto;
}
.col .linea-button 
{
    height: auto;
}
    
.ui-widget .ui-widget {
    font-size: 0.8em;
}

.checkBoxResponsive {
    font-size: 5rem;
}

.checkBoxResponsive label
{
    font-size: 5rem;
    font-family: 'Roboto';
}

.checkBoxResponsive input
{
    width: 3rem;
    height: 3rem;
}
    
.col .content-responsive-button
{
    padding: 5px 3px 5px 0;
    text-align: right;
    font-weight: 700;
    float: right;
}
}

























/*Tema de los labels en el top */
.custom_badge {
/*     position:absolute;
     margin-top: -17px;
     border-radius:12px;
     -webkit-border-radius:12px;
     background:#708090;
     vertical-align:bottom;
     font-style: normal;
     font-family: 'Roboto';
     padding-top:3px;       */
     text-transform: none;  
         
/*    height: 10px;
    font-size: 0.85rem;
    text-align: initial; */
    color: black;
    /*background-color: unset;*/
    font-weight: bold;
    font-size: 0.80rem;
}


@media only screen and (max-device-width: 480px)
{
    .custom_badge {
/*     position:absolute;
     margin-top: -17px;
     border-radius:12px;
     -webkit-border-radius:12px;
     background:#708090;
     vertical-align:bottom;
     font-style: normal;
     font-family: 'Roboto';
     padding-top:3px;       */
     text-transform: none;  
         
/*    height: 10px;
    font-size: 0.85rem;
    text-align: initial; */
    color: black;
    /*background-color: unset;*/
    font-weight: bold;
    }
}






/*
    TABULATOR
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
    ###################################################################################################
*/


.tabulatorTitle 
{
    font-size: 0.85rem;
    display: inline-block;
}
.row .col.s12 .tabulator-contenedorcantreg 
{
   height: 10px; 
   }
.tabulator-cantidadregistros
{
  font-size: 0.7rem;
  display:inherit;   
 }

@media only screen and (max-device-width: 480px)
{
    .tabulatorTitle 
    {
        font-size: 2rem;
    }
}


input[type=text]:not(.browser-default) {
    padding-left: 5px !important;
}

input[type=password] {
    padding-left: 5px !important;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: #0000ffa1 !important;
    /*background-color: #e9e9d1 !important;*/
}













#modalWait {
  top: 30% !important;
}




.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #ededed !important;
    border-radius: 15px 15px 0px 0px;
    color: #4a4abb;
    font-weight: 800;    
}


	
	
	
	
.tabs .tab a {
    color: #8181c3;
    }
    
    


.timepicker-display-column {
    font-size: 3rem !important;
}

.timepicker-display-column span {
    font-size: 3rem !important;
}

.am-btn {
    font-size: 1.5rem !important;
}

.am-btn {
    font-size: 1.5rem !important;
}

.pm-btn {
    font-size: 1.5rem !important;
}

.timepicker-tick {
    font-size: 1.5rem !important;
}

.year-text 
{
    font-size: 2rem !important;
    }
 .date-text 
{
    font-size: 2.5rem !important;
    }





.toast.white {
    padding: 10px 10px !important;
}